#canv{
    height: 170vh;
}


.index-container{

    display: flex;
    align-items:center;
    padding-top: 5vh;
    flex-direction: column;
    height: 170vh;
    

}

.foto {
    padding-top:5vh ;
    padding-bottom: 5vh;
    width: 300px;
    height: 380px;
}


.videos-container {
    display: flex;
    column-gap: 5vw;

}


.biografia {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
  }

  .texto {
    text-align: justify;
    animation-duration: 4s;
    animation-name: appeartext;
    animation-timing-function: linear;
    color: #F7C59F;
    padding: 30px;



}


.video-responsive {
    display: none;
}




/** responsive tablet*/
@media (max-width: 930px) {
    .videos-container {
      flex-direction: column;
      row-gap: 10vh;

    }
   


@media only screen and (max-width: 500px) {
    body {
        background:rgba(42,13,71,1);
    }
}
  
  }



/** responsive cellphones*/
@media (max-width: 412px) {
    .texto {
        padding:42px;
    }
     
    .video-responsive {
        display: block;
    }
  
    .video {
        display: none;
    }

    body {
        background:rgba(42,13,71,1);
    }
  }


  @media (max-width: 428px) {
    .texto {
        padding:42px;
    }
   
    .video-responsive {
        display: block;
    }
  
    .video {
        display: none;
    }

    body {
        background:rgba(42,13,71,1);
    }
  }


  @media (max-width: 375px) {
    .texto {
        padding:106px;
    }
   
      
    .video-responsive {
        display: block;
    }
  
    .video {
        display: none;
    }

    body {
        background:rgba(42,13,71,1);
    }
  }


  @media (max-width: 360px) {
    .texto {
        padding:50px;
    }
   
    
    .video-responsive {
        display: block;
    }

    .video {
        display: none;
    }

    body {
        background:rgba(42,13,71,1);
    }
  }